@inherits LayoutComponentBase


    <h1>TOTALLY RAD RECORDS</h1>
    <Header></Header>

@Body
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
<footer>
    © Lili Berenyi 2025
</footer>
