@page "/"
@rendermode InteractiveAuto

<PageTitle>Home</PageTitle>

    <p>
        Marfa blackbird spyplane venmo poutine, blue bottle raclette squid polaroid bespoke. Succulents street art viral hashtag air plant austin artisan edison bulb portland seitan blog marxism drinking vinegar roof party umami. Big mood migas intelligentsia polaroid shoreditch VHS pinterest PBR&B aesthetic brunch craft beer 8-bit sus yes plz tumblr. Trust fund direct trade franzen keytar blue bottle. Polaroid craft beer try-hard drinking vinegar mumblecore brunch blog seitan, schlitz pabst asymmetrical hoodie.
    </p>
    <p>
        Art party pabst hot chicken twee. Humblebrag praxis poutine sus. Paleo stumptown +1 YOLO pitchfork tilde godard blue bottle pickled kale chips. Shabby chic kombucha grailed tonx asymmetrical. Ugh before they sold out vinyl YOLO pitchfork, skateboard irony franzen jean shorts la croix hammock occupy put a bird on it schlitz poke.
    </p>
    <p>
        Fashion axe chartreuse pop-up listicle direct trade williamsburg succulents slow-carb hella bushwick kogi aesthetic bodega boys ramps raclette. Squid live-edge iceland lumbersexual fam succulents, williamsburg thundercats pork belly hella narwhal tonx skateboard. Brunch sustainable 90's, actually fanny pack vice activated charcoal la croix celiac succulents authentic. Master cleanse echo park shoreditch mixtape portland neutral milk hotel DIY.
    </p> 

    <RecordDetails></RecordDetails>

