<h3>Edit record details</h3>
@if (@testAlbum == null)
{
    <p> Could not load album.</p>
}
else
{
    <table>
        <tr>
            <td>Title: </td>
            <td><InputText @bind-Value="inputTitle"></InputText></td>
        </tr>
        <tr>
            <td>Year: </td>
            <td><InputText @bind-Value="inputYear"></InputText></td>
        </tr>
        <tr>
            <td>Artist: </td>
            <td>@inputArtist</td>
        </tr>
        <tr>
            <td>Description: </td>
            <td><InputTextArea @bind-Value="inputDescription"></InputTextArea></td>
        </tr>
    </table>
    <button @onclick="CheckDetails">Submit</button>
}
@if(isSubmitted)
{
    <p>Submitted!</p>
}


@code {
    [Parameter] public Album? album { get; set; }
    //[Parameter] public EventCallback<AlbumInputDto> OnSubmit { get; set; }

    private string? inputTitle;
    private string? inputDescription;
    private string? inputYear;
    private string inputArtist = "";
    private bool isSubmitted = false;

    public Album testAlbum { get; set; } = new Album(1, "Fourth Album", "This is a rad album", 2005, "Lil' Artist");

    protected override void OnInitialized()
    {
        InitializeInputFields();
    }

    private void InitializeInputFields()
    {
        if (testAlbum != null)
        {
            inputTitle = testAlbum.Title;
            inputArtist = testAlbum.ArtistName;
            inputYear = testAlbum.Year.ToString();
            inputDescription = testAlbum.Description;
        }
    }

    private void CheckDetails()
    {
        StateHasChanged();
        if (!int.TryParse(inputYear, out int year))
        {
            Console.WriteLine("Invalid year");
            return;
        }
        if (string.IsNullOrEmpty(inputTitle) || string.IsNullOrEmpty(inputDescription))
        {
            Console.WriteLine("Title, or Description");
            return;
        }

        isSubmitted = true;
        AlbumInputDto updatedAlbum = new AlbumInputDto(inputTitle, inputDescription, year, 1);
    }
}




