<h2>Records</h2>

@if(albums != null)
{
    foreach(var album in albums)
    {
        <RecordSummary album="album"></RecordSummary>
    }
}

@code 
{
    [Parameter] public List<Album>? albums { get; set; }
}
